<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

<div>
    <div>{{ "now"|date("Y-m-d") }}</div>
    <div>{{ 'Termination of employment contract'|trans }}
    </div>
    <div>{{ name }}</div>

</div>

</body>
</html>



